{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "plugins": [
        "module:@exc/babel-dynamic-import-noop"
      ]
    }
  }
}
