@import '@spectrum/spectrum-variables/stylus/spectrum-light.styl'
.canvas-view
  min-height 1000px
  width 80%
  height 100%
  background $spectrum-global-color-grey100
  outline none

  *
    box-sizing border-box

  .no-results
    .canvas-drop-zone
      height 500px
      width 90%
      border $spectrum-alias-border-size-thick dashed $spectrum-global-color-grey200
      margin 5%

  .item,
  .section
    .canvas-drop-zone
      height 100%
      padding 0
      border-width 0
      &.is-dragged
        border-width $spectrum-alias-border-size-thick

  .row-delimiter,
  .cell-delimiter,
  .footer
    .canvas-drop-zone
      height 100%
      padding 0
      border-width 0
      &.is-dragged
        position relative
        background none
        border-width $spectrum-alias-border-size-thick 0 0
        border-radius 0
        margin-top 7px
        height calc(100% - 7px)
        width calc(100% - 22px)
        left 11px
        &:before
          content ''
          position absolute
          top -7px
          left -11px
          height 10px
          width 10px
          border-radius 50%
          border $spectrum-alias-border-size-thin solid $spectrum-global-color-blue700
        &:after
          content ''
          position absolute
          top -7px
          right -11px
          height 10px
          width 10px
          border-radius 50%
          border $spectrum-alias-border-size-thin solid $spectrum-global-color-blue700

  .canvas-item
    background-color $spectrum-global-color-static-white
    border $spectrum-alias-border-size-thin solid $spectrum-global-color-grey200
    border-radius $spectrum-alias-border-corner-radius-regular
    height 100%
    width 100%
