@import '@spectrum/spectrum-variables/stylus/spectrum-light.styl'

.main-page
  display flex
  flex-director row
.text-modal
  border 0
  margin 5px 20px
  font-weight $spectrum-global-font-weight-bold
  text-align left
  width 100%
  pointer-events: none
  .text-content
    width 95%
    border 0
    pointer-events: none
